/** {
	font-family: Futura, sans-serif;
	font-size: 300 em;
	background: navy;
}

header {
	background: white;
	text-align: center;
	padding-top: 500 px;

}

header h1 {
	background: white;
	text-align: center;
	height: 45%;
	
}*/