* {
	font-family: Futura, sans-serif;
	background: navy;
}

header {
	background: white;
	text-align: center;
	padding-top: 500 px;
	font-size: 900 px;

}

header h1 {
	background: white;
	text-align: center;
	height: 45%;
	font-size: 900 px;
	
}